.execute {
  text-align: center;
  margin: 10px;
}

.execute button {
  color: #17176e;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.execute button:hover {
  background-color: #17176e;
  color: #fff;
}
