.header {
  color: #105ed5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 30px;
}

.main-logo img {
  width: 200px;
  margin-top: 20px;
}

.header .main-logo {
  flex: 1 0 0;
  text-align: left;
}

.header .title {
  flex: 1 0 0;
  text-align: center;
}

.header nav {
  flex: 1 0 0;
  text-align: center;
}

.header .icons {
  flex: 1 0 0;
  text-align: right;
  margin: 15px 0px 5px;
}

.header .icons a {
  padding-left: 20px;
}

.header .icons img {
  width: 40px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 10px 0 10px;
}

nav a {
  text-decoration: none;
  color: #105ed5;
  padding: 5px;
}

nav a:hover,
nav a.active {
  background-color: #105ed5;
  color: #fff;
}
