.header {
  color: #17176e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 30px;
}

.main-logo img {
  width: 250px;
  margin-top: 20px;
}

.header .main-logo {
  flex: 1 0 0;
  text-align: left;
}

.header .title {
  flex: 5 0 0;
  text-align: center;
}

.header .icons {
  flex: 1 0 0;
  text-align: right;
  margin: 10px 0 10px;
}

.header .icons a {
  padding-left: 20px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 10px 0 10px;
}

nav a {
  text-decoration: none;
  color: #17176e;
  padding: 5px;
}

nav a:hover, nav a.active {
  background-color: #17176e;
  color: #fff;
}