.pane-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.pane-container .monaco-editor {
  flex: 1;
}

.playground-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
  padding: 6px;
  border-top: 1px solid #ccc;
  /* Optional: a border to separate buttons from editor */
  background-color: #f9f9f9;
  /* Optional: button background for visibility */
  text-align: center;
}

.playground-button-container button {
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #105ed5;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.playground-button-container button:hover {
  background-color: #105ed5;
  color: #fff;
}

.result {
  height: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
